<html>
<div fxLayoutAlign="space-around center" fxFlex="100">
  <mat-card fxFlex="30" class="card" fxFlex.xs="100">
    <mat-card-title class="fundoo" div fxLayout="row" fxLayoutAlign="center center">
      <span class="f">F</span>
      <span class="f">u</span>
      <span class="f">n</span>
      <span class="f">d</span>
      <span class="f">o</span>
      <span class="f">o</span>
    </mat-card-title>

    <mat-card-title class="reset-title" fxLayout="row" fxLayoutAlign="center center">Update your password
    </mat-card-title>

    <mat-card-subtitle class="sub-title" div fxLayout="row" fxLayoutAlign="center center">To continue to your Fundoo
      Account</mat-card-subtitle>

    <div fxLayout="column" fxLayoutAlign="space-around center" class="new-pass">
      <mat-form-field appearance="outline" class="password">
        <mat-label>New password</mat-label>
        <input matInput placeholder="Type new password" [type]="hide ? 'password' : 'text'" [formControl]="password"
          autocomplete="off" requried />
        <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="con-password">
        <mat-label>Confirm password</mat-label>
        <input matInput placeholder="Type confirm password" [type]="hide ? 'password' : 'text'" [formControl]="confirmpassword"
          autocomplete="off" requried />
        <mat-icon matSuffix (click)="hide = !hide">{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
        <!-- <mat-hint
              ><a id="forget" href="/forgotpassword">Forgot password</a></mat-hint
            > -->
      </mat-form-field>

      <button id="confirm-button" fxLayoutAlign="center center" mat-raised-button color="primary" (click)="onsubmit()">
        Update
      </button>
      <button mat-button (click)="loginTo()" class="link" fxLayoutAlign="center">
        LogIn insted
      </button>
    </div>
  </mat-card>
</div>

</html>